/*
discuss colors ---

navbar
bg
primary
hover
accent
text
*/
:root {
  --navbar: #1F1F1F;
  --bg: #292929;
  --primary: #3F4448; /* color of threads*/
  --primary2: ; /*color of comments*/
  --hover:;
  --accent:;
  --text:white;
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
*{
	box-sizing: border-box;
}

body, html{
	color: var(--text);
	width: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--bg);
}

.nav{
	overflow: hidden;
	background-color: var(--navbar);
	transition: 0.3;
}

.nav a{
	float: left;
	display: block;
	color: var(--text);
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	padding: 15px;
	transition: color 0.5s ease;
}

.nav a.title{
	font-size: 33px;
	padding:10px;
}

.nav a.right{
	float: right;
}

.nav a:hover{
    color:dodgerblue;
}
.nav div.s-cont{
	width: 20%;
	float: left;
	padding: 10px;
	-webkit-transition: width 2s;
	transition: width 0.3s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	transition-delay: 0.2s;
}
.nav div.s-cont:hover{
	width: 50%;
	float: left;
	padding: 10px;
}
.nav input{
	width: 70%;
	border:none;
	padding: 5px;
	font-size: 20px;
	margin-top: 3px;
	background-color: #3F4448;
	color: white;
	-webkit-transition: width 2s;
	transition: width 0.3s;
}
.nav input:focus ~ .nav div.s-cont {
    width: 50%;
}
.nav .s-cont button{
	transition: 0.3s;
	float:left;
	padding: 9px 10px;
	margin-top: 3px;
	border: none;
	cursor: pointer;
	background-color: #3F4448;
}
.nav .s-cont button:hover{
	background-color: white;
}
.contain{
	padding: 2%;
	width: 80%;
}
.header{
	padding-bottom: 10px;
}

.thread, .comment{
	padding-left: 2%;
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #393e46;
	border-radius: 10px;
	transition: 0.3s;
	padding-right: 2%;

}
.thread:hover{
	background-color:#3F4448;
}
.comment:hover{
	background-color:#3F4448;
}

.header h1{
	font-size: 40px;
	color: white;
}
h2{
	font-weight: normal;
}
a{
	color: white;
	transition: color 0.5s ease;
}
a:hover{
    color:dodgerblue;
}

p{
	font-size: 16px;
	color: white;
	word-wrap: break-word;
}
.big{
	font-size: 24px;
	color: white;
}

.threadTitle{
	padding-left: 2%;
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #393e46;
	border-radius: 10px;
	padding-right: 2%;
}
.commentcontain{
	margin-left: 3%;
}

h1{
    word-wrap: break-word;
}

.pager{
    text-decoration:none;
    background-color: #3F4448;
    padding: 10px;
    transition: background-color 0.5s ease;
}
.active{
    color:dodgerblue;
    text-decoration:none;
    background-color: #3F4448;
    padding: 10px;
    transition: background-color 0.5s ease;
}

.pager:hover{
    background-color: dodgerblue;
}
.pagerp{
    text-align: center;
}
.button{
     background-color: white;
     color: black;
     border: none;
     padding: 0.6% 2%;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     transition: background-color 0.5s ease;
}
.button:hover{
    background-color:dodgerblue;
    color:white;
}

.roundL{
    border-radius: 15px 0px 0px 15px;
}
.roundR{
    border-radius: 0px 15px 15px 0px;
}